[submodule "eigen"]
	path = eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "DWM-1000-Adapter-board"]
	path = DWM-1000-Adapter-board
	url = git@github.com:bastinat0r/DWM-1000-Adapter-board
